<div class="footer-infos">
    <div class="footer-links">
        <a href="#">La médiation familiale</a>
        <a href="#">Mon approche</a>
        <br/>
        <a href="#">Mon expérience</a>
    </div>
    <div class="footer-adress">
        <p class="bold" style="text-align: center;">Résidence Phèdre, Rue Toulouse Lautrec <br/>
            33400, Talence <br/>
            Ville de Bordeaux, près de la rocade sortie 17
        </p>
    </div>
    <div class="footer-legal">
        <a href="#">Mentions légales</a>
        <a href="#">Politique de confidentialité</a>
    </div>
</div>
