<h2 style="text-align: center;"><span style="font-family: 'Concert One', sans-serif; font-size: 2em;">LA MÉDIATION : qu'est-ce que c'est ?</span>
</h2>
<div class="second-block">
    <div class="second-block-image">
        <img src="{{ asset('build/images/images.png') }}" alt="médiation-familiale-talence">
    </div>
    <div class="second-block-text">
        <div class="second-block-text-2">
            <p class="bold">La médiation familiale s’adresse aux familles (au sens large) concernées par un conflit
                qu’elles
                n’arrivent
                pas à résoudre par elles-mêmes. </p>
            <img src="{{ asset('build/images/line.png') }}" alt="line-médiation-familiale-bordeaux">
        </div>
        <p class="regular">Vous vivez une séparation, un conflit avec un parent…
            Je vous reçois sur Talence, dans la singularité de votre demande. Vous pouvez me solliciter à tout moment :
            en amont du conflit, avant toute démarche en justice, pendant ou après toute procédure.
        </p>
        <p>Personnes séparées, parents - ado.s, parents - jeune.s majeur.s... Nous nous adapterons ensemble pour aborder
            avec vous : </p>
        <ul>
            <li class="regular">Les modalités d’accueil et de garde de l’enfant</li>
            <li class="regular">Un dispositif spécifique propre à la complexité d’un travail avec un adolescent et au recueil de sa parole.</li>
            <li class="regular">Les problèmes de cohabitation dans un but d’apaisement.</li>
        </ul>
    </div>
</div>
