<div class="green-background-2">
    <img class="second-background-img" src="{{ asset('build/images/mediation.jpg') }}"
         alt="médiation-familiale-talence-bordeaux">
</div>
<div class="third-block-text-container">
    <div class="mon-approche">
        <h2 style="align-self: end;"><span class="light" style="font-size: 2em;">MON APPROCHE</span></h2>
        <p class="bold">Le conflit est le signal d’un dysfonctionnement dans nos échanges avec autrui. Parfois nous
            ne trouvons plus
            les
            moyens d’y faire face. Les émotions peuvent alors envahir chacun d’entre nous. Elles empêchent par
            là-même
            toute
            communication ou dégradent le message contenu dans notre parole.  <br/><br/>
            En tant que Médiatrice, je suis garante d’un cadre permettant la libre expression des mots et des maux.
            La
            libre
            circulation de la parole vous offre une mise à distance nécessaire pour une prise de décision
            respectueuse
            de
            vos attentes et de vos besoins.  <br/><br/>
            L'engagement de chacun de vous, parent, est indispensable au processus de médiation.  <br/><br/>
            Durée des entretiens :
            1
            heure. </p>
    </div>
    <div class="mon-experience">
        <h2><span class="light" style="font-size: 2em;">MON EXPÉRIENCE</span></h2>
        <p class="bold">Titulaire d’un Master 2 en Droit privé et d’une Licence en Histoire de l’Art, je suis
            Médiatrice Familiale DE
            depuis 2013. J’ai suivi par ailleurs une formation spécifique à la gestion des conflits dans le cadre de
            médiations parents-ados.  <br/><br/>
            De 2005 à 2010, j’ai fondé et présidé l’Association Art&Miss à Bordeaux. Cette structure a pour objet
            d’accompagner les personnes dans un cheminement personnel à la découverte de l’Art, par le biais de
            conférences,
            de décryptages d’expositions et de dialogues avec les artistes. <br/><br/>
            J’ai par la suite exercé en tant que Médiatrice Pénale au Prado avant de devenir Médiatrice Familiale en
            structure conventionnée jusqu’en 2019.</p>
    </div>
</div>

